body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
}

#titulo {
    color: green;
}

#minha_foto {
    margin-top: 50px;
    width: 300px;
}

#licoes_aprendidas {
    line-height: normal;
    display: inline-block;
}

#licoes_a_aprender {
    line-height: normal;
    display: inline-block;
}

#rodape {}